/*
Limpar formatações padroẽs
*/
* {
    margin: 0;
    padding:0;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f3f3f3;
}

table {
    border-collapse: collapse;
    
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

header {
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
    padding: 20px 10px;
}
        
.container {
    padding:20px;
    width: 100%;
      
}

.campo-busca {
    text-align: left;
    padding-bottom: 5px;
}


