<!DOCTYPE html>
<html ng-app="meuModulo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
			 
	<title>Angular JS</title>
</head>

<body ng-controller="indexController">
<header>
	<h2 class="padding">{{titulo}}</h2>
	<!-- <h2 ng-bind="titulo"></h2> diretivas do angular-->
</header>

<main>
<div class="container">
	<div class="campo-busca">
		<input type="text" id="campo" ng-model="busca" placeholder="Busca"> <!-- atribui valor a variavel busca-->
	</div>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Nota1</th>
				<th>Nota2</th>
				<th>Nota3</th>
				<th>Média</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="aluno in alunos | filter:busca"> <!--diretivas FOREACH-->
				<td>{{aluno.nome}}</td>
				<td>{{aluno.email}}</td>
				<td>{{aluno.nota1}}</td>
				<td>{{aluno.nota2}}</td>
				<td>{{aluno.nota3}}</td>
				<td>{{aluno.media}}</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Adicionar</a>
	
</div>
</main>


<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
	<h4>Adicionar Aluno</h4>
	<p>Preencha os dados do aluno</p>
	<div class="row">
		<div class="input-field col m6 s12">
			<input type="text" ng-model="Aluno.nome" class="validate">
			<label>Nome</label>
		</div>
		<div class="input-field col m6 s12">
			<input type="text" ng-model="Aluno.email" class="validate">
			<label>E-mail</label>
		</div>
		<div class="input-field col m4 s12">
			<input type="text" ng-model="Aluno.nota1" class="validate">
			<label>Nota 1</label>
		</div>
		<div class="input-field col m4 s12">
			<input type="text" ng-model="Aluno.nota2" class="validate">
			<label>Nota 2</label>
		</div>
		<div class="input-field col m4 s12">
			<input type="text" ng-model="Aluno.nota3" class="validate">
			<label>Nota 3</label>
		</div>			
			
	</div>
  </div>
  <div class="modal-footer">
	<a ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue">Adicionar</a>
	<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
	
  </div>
</div>
		

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="lib/angular/angular.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal();
  });
</script>

<script type="text/javascript">
	angular.module("meuModulo",[])
	.controller("indexController",function($scope){
		$scope.titulo = "Single page aplication with AgularJS.";
		$scope.alunos = [
			{
				nome: "camila",
				email: "camila_ca@hotmail.com",
				nota1: 65,
				nota2: 80,
				nota3: 55
			},
			{
				nome: "joao",
				email: "joao@hotmail.com",
				nota1: 65,
				nota2: 80,
				nota3: 55
			},
			{
				nome: "julia",
				email: "julia@hotmail.com",
				nota1: 65,
				nota2: 80,
				nota3: 55
			},
		];

		const init = () => {
			$scope.alunos.forEach(function(aluno){
				aluno.media = media(aluno)
			});
		};

		const isValid = (nota) => nota === '' || nota === null || isNaN(nota)

		const media = (aluno) => {  
			let media = (parseFloat(aluno.nota1) + parseFloat(aluno.nota2) + parseFloat(aluno.nota3))/3;
				return media.toFixed(2);
		};

		$scope.addAluno = (Aluno) => {
			Aluno.media = media(Aluno)
			$scope.alunos.push(Aluno)
			$('#modal1').modal('close');
			$scope.Aluno = {nome: "", email: "",nota1: "",nota2: "",nota3: "", media: ""}

		};

		init();
	})

</script>
</body>
</html>